@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body{
    font:12px Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}

header{
    background: #35424a;
    color: white;
    text-align: center;
    padding-top: 10px;
    min-height: 60px;
    border-bottom: #e8491d 3px solid;
    font-size: x-large ;
}
header img.left{
    float: left;    
    margin-left: 50px;
    padding-top: 30px;
    min-height: 50px;
}
header img.right{
    float: right;    
    margin-right: 50px;
    padding-top: 15px;
    min-height: 50px;
}
/* nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 30px;
    text-transform: uppercase;
    } */
header a{
    color: white;
    padding: 7px 13px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
header ul{
    margin: 0;
    padding: 0;    
}
header li{    
    font-family: Roboto;
    float: left;    
    display: inline;
    padding: 0 35px;
}

header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav {
    display: inline-block;
    margin-top: 10px;
}

header a:hover{
    color: white;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    text-align: center;
    color: #f4f4f4;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    color: #e8491d;
    margin-bottom: 10px;
}

#showcase p{
font-size: 20px;
color: black;
font-weight: bold;
}


#newsletter{
    padding: 15px;
    color: #f4f4f4;
    background: #35424a;
}


#newsletter h2{
    float:right;
    margin-top: 18px;
    margin-right: 10px;
}
#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250px;
    float:right;
   
}
#newsletter form
{
    float: right;
    margin-top: 15px;
}
.button_1{
float:left;
height: 40px;
background-color: #e8491d;
color: #f4f4f4;
padding-left: 20px;
padding-right: 20px;
border: 0;
font-size: larger;
font-weight: bold;
margin-left: 5px;
}

#boxes{
    margin-top: 20px;
}
#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img
{
    width: 90px;
}

aside div img {
    height: 250px;
}

footer{
    padding-bottom: 0ch;
padding: 5px;
margin-top: 20px;
color: #f4f4f4;
background-color: #e8491d;
text-align: center;
}
article#main-col{
    float: left;
    width: 65%;
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
.dark{
padding: 15px;
background: #35424a;
color: #f4f4f4;
margin-top: 10px;
border-bottom:#e8491d 3px solid;
margin-bottom: 10px;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
aside#sidebar .quote input ,aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

a.active,a:hover{
    background: #3a814a;
    transition: .5s;
}
body{
    font-family: montserrat;
}

#check{
    display:none;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}

.page-title{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
    }
    
    .contentFontSize {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 35px;
    }
    
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 10px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }
    
    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */  
    }
    

@media screen and (max-width: 600px) 
{
    header #branding,
    header nav,
    header nav li,
    newsletter h1,
    newsletter form,
    #boxes .box,
    article#main-col,
    
    aside#sidebar
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header nav li a{
        font-size: 9px;
    }
    header
    {
        padding-bottom: 20px;
        
    }
    #showcase h1
    {
        margin-top:40px;
        font-size:30px;
        
    }
    #showcase p{
    font-size: 20px;
    color: blue;
    };
    #newsletter{
        display: block;
    }
    #newsletter form input[type="email"]
    {
        width: 50%;
        margin-bottom: 5px;
    }
    a:hover,a.active{
        background:none;
        color: #7c389b;       
    }
    section{
        background: url(/img/cover_back.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
     }
     .checkbtn{
       
        display:block;
    }
    
}


